body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  background-color: #742092;
}

#box{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  max-width: 500px;
  min-width: 300px;
  margin: auto;
  overflow-y: hidden;
}

#boxHome{
  background-color: #FFFFFF;
  width: 100%;
  min-width: 300px;
  text-align: left;
}

.conteinerBase{
  max-width: 900px;
  margin: auto;
}

.linkCollor{
  color: #FFC973;
  text-decoration: none;
}

.headerStyle{
  background-color: #FFC973;
  padding: 0 30px;
}

.itemHome{
  background-color: #FFE3B3;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  min-width: 150px;
  max-width: 200px;
  font-weight: 400;
  color: 404040;
  text-align: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#boxHome h1{
  color: #742092;
  font-weight: 600;
}

#boxHome h2{
  font-weight: 400;
  font-size: 25px;
  padding-top: 30px;
}

#boxHome h3{
  font-weight: 500;
  font-size: 16px;
}

#boxHome h4{
  font-size: 13px;
  color: #B9B9B9;
}

.ajusteFonte{
  font-size: 35px;
  color: #B9B9B9;
  font-weight: 300;
}

.bannersalao{
  width: 100%;
}

.logoHome{
  margin-top: -30px;
}

.spanEquipe{
  color: #C858BA;
  font-weight: 700;
}

.equipeItem{
  border-radius: 20px;
  width: 340px;
  height: 245px;
  background-color: #f0f0f0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 10px;
}

.equipeItem img{
  height: 245px;
}

.equipeItem h3{
 font-weight: 500;
 margin-bottom: -4px;
}

.buttonEquipe{
  border-radius: 15px;
  width: 150px;
  height: 30px;
  background-color: #C858BA;
  text-align: center;
  padding: 2px;
}

.buttonEquipe p{
  color: #FFFFFF;
}

.backButton{
  text-align: right;
  padding: 15px 15px;
}

.backButton a{
  text-decoration: none;
  color: #B9B9B9;
  font-size: 20px;
}

.agendamentoPage{
  padding: 20px;
}

.agendamentoMarcado{
  color: #FFFFFF;
  padding: 30px;
}

.agendamentoMarcado h3{
  font-weight: 400;
  font-size: 20px;
  padding: 5px;
}
.agendamentoMarcado h4{
  font-weight: 300;
  font-size: 17px;
}

.agendamentoMarcado h5{
  font-weight: 300;
  font-size: 15px;
  color: #FFC973;
}

.agendamentoMarcado span{
  font-weight: 300;
  font-size: 15px;
}

.tab1Perfil{
  padding: 30px;
  background-color: #FFE3B3;
}

.tab2Perfil{
  padding: 30px;
  background-color: #FFC973;
}

.buttonTab1,.buttonTab1:hover{
  background-color: #FFE3B3;
  border-radius: 0 20px 0 0;
  color: #404040;
  font-weight: 500;
  height: 50px;
  padding-top: 10px;
  width: 50%;
}

.buttonTab2,.buttonTab2:hover{
  background-color: #FFC973;
  border-radius: 20px 0 0 0;
  color: #404040;
  font-weight: 300;
  height: 50px;
  padding-top: 10px;
  width: 50%;
}

.nav a{
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

.perfilButton{
  border: 1px solid black;
  border-radius: 20px;
  width: 250px;
  text-align: center;
  height: 40px;
  padding-top: 6px;
}